@font-face {
  font-family: "Konkhmer";
  src: url("../fonts/KonkhmerSleokchher-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf");
}

body {
  padding: 50px;
  background-color: rgb(176, 225, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: "Konkhmer", sans-serif;
  font-size: 38px;
}

.messages,
form{
  background-color: rgb(172, 171, 171);
  padding: 20px;
  border-radius: 20px;
  width: 60vw;
}

.message{
  background-color: white;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}

.message-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

button{
  background-color: green;
  padding: 18px 8px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in;
}

button:hover{
  background-color: rgb(1, 187, 1);
  color: rgb(0, 0, 0);
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
  font-size: 22px;
}

input{
  height: 28px;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

textarea{
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  width: 60%;
}

.error{
  font-size: 32px;
  color: red;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}